<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/stars.css">
<title><%= campground.title %> - Details</title>
<body>
<div class="row">
  <div class="col-6 mt-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% campground.images.forEach((img, i)=>{  %>
          <div class="carousel-item <%= i===0? 'active':'' %>">
            <img src="<%= img.url %>" class="d-block w-100" alt="..." crossorigin="anonymous">
          </div>
          <% }) %> 
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
      <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= campground.location %></li>
            <li class="list-group-item">Added by <%= campground.author.username %></li>
            <li class="list-group-item">$<%= campground.price %>/Night</li>
          </ul>
          <% if ( currentUser && campground.author.equals(currentUser._id)){ %>
          <div class="card-body">
            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info" style="color: white;">Edit</a>
            <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form> 
          </div>
        <% } %>        
      </div>
  </div>
  <div class="col-6 mt-4">
    <div class="shadow p-3 mb-5 bg-body rounded" id="map"></div>
    <% if(currentUser){ %>
  <div class="shadow p-3 mb-5 bg-body rounded"><h4 class="mt-4">Leave a Review</h4>
    <form class="needs-validation" action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate>
      <div class="mb-3">
        <!-- <div class="mb-3">
          <label class="form-label" for="rating" >Rating </label>
          <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
          </div>   -->
          <div class="mb-3 mystars">
            <input type="radio" name="review[rating]" id="five" value="5" />
            <label for="five" ></label>
            <input type="radio" name="review[rating]" id="four" value="4" />
            <label for="four"></label>
            <input type="radio" name="review[rating]" id="three" value="3" />
            <label for="three"></label>
            <input type="radio" name="review[rating]" id="two" value="2" />
            <label for="two"></label>
            <input type="radio" name="review[rating]" id="one" value="1" />
            <label for="one"></label>
          </div>
        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5" placeholder="Write your review here..." required ></textarea>  
        </div>
        <div class="mb-3">
          <button class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
    </div>
      <% } %>
      <div class="shadow p-3 mb-5 bg-body rounded">
    <h4>All reviews</h4>
    <% for(let review of campground.reviews){ %>
      <div class="card mb-3">
        <div class="card-body">
          <h7 class="card-subtitle text-muted"><b><%= review.author.username %></b></h7>
          <p class="starability-result" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
          </p>
          <p class="card-text"><%= review.body %></p>

          <% if ( currentUser && review.author.equals(currentUser._id)){ %>
          <div>
            <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
        <% } %>
        </div>
      </div>
      <% } %>
    </div>

  </div>
</div>

    <a href="/campgrounds">Back</a>
<script>
  const mbxtoken = '<%- process.env.MAPBOX_TOKEN %>';
  const campground =  <%- JSON.stringify(campground) %>
</script>   
<script src="/js/showMap.js"></script>